.ps .ps__rail-x:hover, 
.ps .ps__rail-y:hover, 
.ps .ps__rail-x:focus, 
.ps .ps__rail-y:focus, 
.ps .ps__rail-x.ps--clicking, 
.ps .ps__rail-y.ps--clicking {
	background-color: transparent;
}

.ps__thumb-y {
	width: 4px;
	background-color: rgba($white, .4);	
}

.ps__rail-y:hover > .ps__thumb-y, 
.ps__rail-y:focus > .ps__thumb-y, 
.ps__rail-y.ps--clicking .ps__thumb-y {
	width: 4px;
	background-color: rgba($white, .4);
}