          <ul class="sidebar-menu">
              <li{{ ' class="active"'|is_active('^index(.*)', page)|safe }}><a class="nav-link" href="index.html"><i class="fas fa-fire"></i><span>Dashboard</span></a></li>
              <li{{ ' class="active"'|is_active('^proker(.*)', page)|safe }}><a class="nav-link" href="proker.html"><i class="fas fa-briefcase"></i><span>Program Kerja</span></a></li>
              <li{{ ' class="active"'|is_active('^transactions(.*)', page)|safe }}><a class="nav-link" href="transactions.html"><i class="fas fa-wallet"></i><span>Transaksi</span></a></li>
          </ul>
