          <ul class="sidebar-menu">
              <li{{ ' class="active"'|is_active('^index(.*)', page)|safe }}><a class="nav-link" href="index-ketua.html"><i class="fas fa-fire"></i><span>Dashboard</span></a></li>
              <li{{ ' class="active"'|is_active('^proker-ketua(.*)', page)|safe }}><a class="nav-link" href="proker-ketua.html"><i class="fas fa-briefcase"></i><span>Program Kerja</span></a></li>
              <li{{ ' class="active"'|is_active('^report(.*)', page)|safe }}><a class="nav-link" href="report-ketua.html"><i class="fas fa-file-alt"></i><span>Laporan</span></a></li>
          </ul>