<div class="settings" data-target="#settings-container">
  <i class="ion ion-android-settings fa-spin"></i>
</div>
<div class="settings-container" id="settings-container">
  <div class="settings-body">
    <div class="card h-100 settings-card">
      <div class="card-header">
        <h4><i class="ion ion-android-settings mr-3"></i> Settings</h4>
      </div>
      <div class="card-body">
        <div class="text-dark font-weight-bold text-uppercase">theme</div>
        <div class="d-flex flex-column p-6">
          <div class="grid grid-col-2 grid-col-sm-3 mt-3">
            <div class="btn btn-fill rounded-pill py-2 btn-theme" data-theme='theme-primary'>
              <i class="fas fa-circle text-primary"></i>
              <b class="text-capitalize">Primary</b>
            </div>
            <div class="btn btn-fill rounded-pill py-2 btn-theme" data-theme='theme-info'>
              <i class="fas fa-circle text-info"></i>
              <b class="text-capitalize">Info</b>
            </div>
            <div class="btn btn-fill rounded-pill py-2 btn-theme" data-theme='theme-warning'>
              <i class="fas fa-circle text-warning"></i>
              <b class="text-capitalize">warning</b>
            </div>
            <div class="btn btn-fill rounded-pill py-2 btn-theme" data-theme='theme-danger'>
              <i class="fas fa-circle text-danger"></i>
              <b class="text-capitalize">danger</b>
            </div>
            <div class="btn btn-fill rounded-pill py-2 btn-theme" data-theme='theme-success'>
              <i class="fas fa-circle text-success"></i>
              <b class="text-capitalize">success</b>
            </div>
            <div class="btn btn-fill rounded-pill py-2 btn-theme" data-theme='theme-dark'>
              <i class="fas fa-circle text-dark"></i>
              <b class="text-capitalize">dark</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
