.table {
  thead th {
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    font-size: $font-size-sm;
    color: $text-muted;
  }

  .thead-light {
    th {
      background-color: $gray-100;
    }
  }
}

.table-fit {
  thead th:first-child,
  tbody td:first-child {
    padding-left: $card-spacer-x;
  }
  thead th:last-child,
  tbody td:last-child {
    padding-right: $card-spacer-x;
  }
}

.table-dark {
  thead th {
    color: $table-dark-color;
  }
}