@mixin card-base($bg: $card-bg) {
	background-color: $bg;
	word-wrap: break-word;
	border: $card-border-width solid $card-border-color;
	@include border-radius($card-border-radius);
}

@mixin button-shadow($color) {
	box-shadow: 0 2px 6px rgba(theme-color($color), .3);
}